<div class="container">

    <nav style="margin-bottom: 5px">
        <ul class="nav nav-pills" ng-controller="LogOutCtrl" >
            <a class="btn btn-default" href="#login" role="button" ng-click="logout()">Log out</a>
            <a class="btn btn-default" href="#profile" role="button">Profile</a>
            <a class="btn btn-default" href="#profile" role="button">Logged in as: {{$rootScope.username}}</a>

        </ul>
    </nav>


    <div class="jumbotron" style="height: 239px; padding: 0">
        <img src="/images/przepisy6.png" style="margin: 0 6px"/>

    </div>


    <div>
        <section ng-controller="HomeCtrl" style="background-color: white">
            <ul id ="myTabs" class="nav nav-tabs" >
                <li ng-class="{active:isSet(1)}" role="presentation" class="active">
                    <a ng-click="changeState(1)" data-toggle="tab" href="#">Home</a>
                </li>
                <li ng-class="{active:isSet(2)}" role="presentation">
                    <a ng-click="changeState(2)" data-toggle="tab" href="#/my-recipes">My recipes</a>
                </li>
                <li ng-class="{active:isSet(3)}" role="presentation">
                    <a ng-click="changeState(3)" data-toggle="tab" href="#/add-recipe">Add recipe</a>
                </li>
                <li ng-class="{active:isSet(4)}" role="presentation">
                    <a ng-click="changeState(4)" data-toggle="tab" href="#/search">Search</a>
                </li>

            </ul>
        </section>
    </div>

    <div ui-view style="margin-top: -1px" class="tab-pane fade in active">


    </div>




    <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
    </footer>

</div> <!-- /container -->