<div class="panel panel-default" style="margin-top: -2px">
    <div style = "margin: 10px 10px 10px 10px">
        <div ng-repeat="x in records.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3 class="panel-title">{{x.name}}</h3>
                </div>
                <div class="panel-body">
                    {{x.description}}
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-success navbar-btn">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        Like ({{x.likeCounter || "0"}})
                    </button>
                    <button type="button" class="btn btn-danger navbar-btn">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        Dislike ({{x.dislikeCounter || "0"}})
                    </button>

                    <p class="navbar-text navbar-right" style="margin-right: 10px"><a href="#" class="navbar-link">{{x.author}}</a></p>
                </div>
            </div>
        </div>

        <nav>
            <ul class="pager">
                <li ng-class="{disabled: currentPage==1}" ng-click="loadPrevPage()"><a href="#/dashboad">Previous</a></li>
                <li ng-class="{disabled: currentPage==lastPage}" ng-click="loadNextPage()"><a href="#/dashboard">Next</a></li>
            </ul>
        </nav>
    </div>
</div>